body {
  margin: 0;
  padding: 0;
  background: rgb(255, 234, 201);
  background: linear-gradient(
    90deg,
    rgba(255, 234, 201, 1) 0%,
    rgba(255, 230, 248, 1) 100%
  );
}
#icon{
    font-size: 1.5em;
}
textarea{
  resize: none !important;
}